@import url(../../fonts.scss);

.DragAndDrop {
  .header {
    display: flex;
    .label {
      flex-grow: 1;
    }
    .attach {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 40px;
      width: 135px;
      height: 40px;
      font-family: "Inter-Regular";
      column-gap: 16px;
      background-color: #edf2f5;
      border-radius: 3px;
      padding: 0 18px;
      margin-right: 12px;
      color: #2f5e7b;
      user-select: none;
      cursor: pointer;
    }
  }

  .label {
    display: block;
    margin-bottom: 10px;
    line-height: 24px;
    color: #667985;
    font-family: "Inter-Regular";
    font-size: 16px;
  }

  .dropArea {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-style: dashed;
    border-radius: 3px;
    user-select: none;
    row-gap: 8px;
  }
}

.fileInput {
  display: none;
}

.text {
  font-family: "PT-Root-UI-Regular";
  font-size: 14px;
  line-height: 20px;
  color: #667985;
  white-space: nowrap;
}

.inputLabel {
  color: #0078d2;
  cursor: pointer;
}

.formats {
  font-family: "PT-Root-UI-Medium";
  font-size: 12px;
  line-height: 17px;
  color: #b3bcc2;
  white-space: nowrap;
}

.fileViews {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}